<div class="card" [ngClass]="{'dish-group--highlight': highlight}">
  <div class="card-header">
    {{label}}
  </div>
  <div class="card-block dish-group__list">
    <div class="dish-group__item" appPopoverTrigger [delay]="300" *ngFor="let dish of dishes">
      <button
        class="btn btn-block dish-group__selector btn-sm"
        [ngClass]="{'btn-success': dish.id === value, 'btn-link': dish.id !== value}"
        (click)="onItemSelect(dish)"
        [disabled]="disabled"
      >
        <clr-icon shape="caret" dir="right" class="dish-group__before"></clr-icon>
        <span>
          {{dish.label}}
        </span>
      </button>
      <app-popover [direction]="popUpDirection">
         {{getPopUpText(dish)}}
      </app-popover>
    </div>
  </div>
</div>
