$btn-border-radius: 3px;

.content-container .content-area {
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

.main-container .content-container .content-area {
  padding: 0;
}

.content-padded {
  padding: 24px;
}

.content-padded__aside {
  padding: 0 24px;
}

.center-screen {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


.btn-stack {
  .btn {
    border-radius: 0;
    border-bottom-width: 0;
    &:active, &:focus {
      outline: none;
    }
  }

  .btn:first-child {
    border-top: {
      left-radius: $btn-border-radius;
      right-radius: $btn-border-radius;
    }
  }

  .btn:last-child {
    border-bottom: {
      left-radius: $btn-border-radius;
      right-radius: $btn-border-radius;
      width: 1px;
    }
  }
}
