.content-container .content-area {
  position: relative;
  padding: 0;
  overflow-x: hidden;
}

.main-container .content-container .content-area {
  padding: 0;
}

.content-padded {
  padding: 24px;
}

.content-padded__aside {
  padding: 0 24px;
}

.center-screen {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
