<ng-container *ngIf="isLoaded">
  <app-day-column
    class="weekly-view__column"
    *ngFor="let date of dates"
    [dishes]="getMenuForDate(date)"
    [date]="date"
    [orders]="getDayOrders(date)"
    (change)="onOrderChange(date, $event)"
    (error)="onFormError($event)"
  >
  </app-day-column>

  <app-view-footer
    *ngIf="changed"
    class="weekly-view__footer"
    [errorMessage]="formError"
  >
  </app-view-footer>
</ng-container>

<!-- preloader -->
<app-spinner *ngIf="isLoading" style="height: 100%"></app-spinner>

<!-- retry message -->
<app-poster
  *ngIf="isFailed"
  class="poster--error"
  icon="bug"
  label="Failed to get order information"
>
  <code class="poster__error">{{error}}</code>
  <a href="#">Try again</a>
</app-poster>
