:host {
  display: block;
  width: 100%;
}

.day-column {
  border-left: 1px solid #ccc;
  padding: 10px;
  padding-bottom: 86px;
}

.day-column__date {
  font-size: 24pt;
}

.day-column__month {
  font-size: 9pt;
  position: relative;
  right: 4px;
  bottom: 1px
}
