<div class="day-column">
  <div class="day-column__header">
    <div>
      <span class="day-column__date">
        {{dayOfMonth}}
      </span>
      <span class="day-column__month">
        {{month}}
      </span>
    </div>
    <span class="day-column__day">
      {{dayOfWeek}}
    </span>
  </div>
  <div class="day-column__content">
    <ng-container *ngIf="hasDishes">
      <app-dish-group
        *ngFor="let group of groups"
        [label]="group.tag"
        [dishes]="group.value"
        [selectedId]="orderedItems.get(group.key)"
      >
       </app-dish-group>
    </ng-container>
  </div>
</div>
