<div class="view-footer" [ngClass]="{'view-footer__hidden': !visible}">
  <div class="view-footer__aside">
    <button
      class="btn btn-icon view-footer__nav"
      [disabled]="busy"
      (click)="backward()"
      title="Previous week"
    >
      <clr-icon shape="caret" dir="left"></clr-icon>
    </button>
  </div>
  <div class="view-footer__contents">
    <ng-container *ngIf="showSaveButton">
      <button *ngIf="!busy" class="btn btn-primary view-footer__btn--submit">
        Save changes
      </button>
      <button *ngIf="busy" class="btn btn-link" [clrLoading]="true">
        Saving changes...
      </button>
    </ng-container>
    <span class="text-danger" *ngIf="showError">
      <clr-icon shape="error-standard"></clr-icon>
      {{errorMessage}}
    </span>
  </div>
  <div class="view-footer__aside">
    <button
      class="btn btn-icon view-footer__nav"
      [disabled]="busy"
      (click)="forward()"
      title="Next week"
    >
      <clr-icon shape="caret" dir="right"></clr-icon>
    </button>
  </div>
</div>
